<footer>

    <div class="container text-center " style="padding-bottom: 10px ">
        <div class="row">
            <ul>
                {% if site.email %}
                <li>
                    <a href="mailto:{{ site.email | encode_email }}">
                        Email me
                    </a>
                </li>
                {% endif %}
                {% if site.twitter_username %}
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        Twitter
                    </a>
                </li>
                {% endif %}
                {% if site.facebook_username %}
                <li>
                    <a href="https://www.facebook.com/{{ site.facebook_username }}">
                        Facebook
                    </a>
                </li>
                {% endif %}
                {% if site.linkedin_username %}
                <li>
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                        Linkedin
                    </a>
                </li>
                {% endif %}
                {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        Github
                    </a>
                </li>
                {% endif %}
                {% if site.gitlab_username %}
                <li>
                    <a href="https://gitlab.com/{{ site.gitlab_username }}">
                        Gitlab
                    </a>
                </li>
                {% endif %}
            </ul>
            <p>&copy; {{ site.author }} 2013 - {{ 'now' | date: "%Y" }} </p>
            <small>Built with <a href="https://jekyllrb.com/">jekyll</a></small>
            <p style="position: fixed; top : 10px; right: 10px; width: 80px">
                <small>Don't like the base color ?</small>
                <input type="color" id="color_value" value="#efa043" onchange="onChangeColor(event)"/>
            </p>
        </div>
    </div>
    <script>
        let BASE_COLOR_KEY_STORAGE = 'BASE_COLOR';
        setColor = function (color) {
            let style = document.getElementById('color_style');
            style.innerHTML = style.innerHTML.replace(/--primary: .*;/, '--primary: ' + color + ';');
        };
        onChangeColor = function (event) {
            let color = event.currentTarget.value;
            setColor(color);
            localStorage.setItem(BASE_COLOR_KEY_STORAGE, color);
        };
        // restore if color exists
        let previousColor = localStorage.getItem(BASE_COLOR_KEY_STORAGE);
        if (previousColor) {
            setColor(previousColor);
            document.getElementById('color_value').value = previousColor;
        }
    </script>

</footer>
