<!-- Navigation -->
<nav>
    <div class="container">
        <ul class="u-pull-left">
            <li>

                <a class="is-desktop" style="
    text-decoration: none;
    color: black;
    margin-left: 0px;
    letter-spacing: -1px;
    font-size: large;
    font-family: monospace !important;
" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
                <a class="is-mobile" href="{{"/" | relative_url }}">HF</a>
            </li>
        </ul>
        <div class="u-pull-right">
            <ul>
                <li>
                    <a href="{{ "/posts" | relative_url }}">Posts</a>
                </li>

                <li>
                    <a href="{{"/art-design" | relative_url }}">Design & illustration</a>
                </li>
                <li>
                    <a href="{{"/about" | relative_url }}">About & contact</a>
                </li>
                <li>
                    <a href="{{"/books" | relative_url }}">Books</a>
                </li>
                <li>
                    <a href="{{"/failure-cv" | relative_url }}">Cv of Failures</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
