
:root {

}

.background-credit {
  position: absolute;
  background: #a3806266;
  z-index: 2;
  bottom: 2px;
  font-size: 11px;
  padding: 2px 4px;
  left: 2px;
  color: white;
}

.post-title-preview {
  text-align: center;
  padding: 25px 0;

  img {
    border-radius: 4px;
    max-width: 100%;
  }
}

@font-face {
  font-family: sofiapro;
  src: url("/assets/fonts/Sofia Pro Regular.otf") format("opentype");
}

html *, body * {
  font-family: sofiapro !important;
}

body {
  margin: 0;
}

a {
  color: var(--primary);
}

footer, nav {
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        margin: 20px 10px;
      }
    }
  }
}

footer {
  border-top: solid .5px #d1d4d9;
  padding-top: 3rem;
  margin-top: 9rem;
}

.is-mobile {
  display: none;
}

/* Larger than mobile */
@media (max-width: 400px) {
  .is-mobile {
    display: block;
  }
}

.masthead {
  min-height: 80vh;
  align-items: center;
  display: flex;
  justify-content: center;
  /* image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.m-auto {
  margin: auto;
}
.tag {

}

.text-center {
  text-align: center;
}

.post-preview {
  a {
    text-decoration: none;
  }
}

nav {
  padding: 2rem 0;
  ul {
    margin: 0;
  }
}

ul {
  p {
    display: inline-block;
  }
}

.page-heading {
  text-decoration: underline;
}

.button {
  border-radius: 0;
  background: var(--secondary);
}

.button.button-primary {
  color: #FFF;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.button.button-primary:hover {
  color: #FFF;
  background-color: var(--primary);
  border-color: var(--primary);
}

// override skeleton
ul {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 0.5rem;
}

li {
  margin: .5rem 0;
}

//
.u-text-center {
  text-align: center;
}

.max-500 img, img.max-500 {
  max-width: 500px;
  height: auto;
}
.masthead .subheading.white{
  color : white;
  text-underline-color: white;
}