---
layout: page
title: Posts
---

<b><small>Disclaimer: Many posts are in draft mode, some are draft and others are not yet reviewed.</small></b>

<br/>
<br/>
{% for post in paginator.posts %}

<article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% else %}
        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.author }}
        {% endif %}
        on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
    </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

    {% if paginator.previous_page %}
    <a class="button button-primary u-pull-left"
       href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
        Newer Posts</a>
    {% endif %}

    {% if paginator.next_page %}

    <a class="button button-primary u-pull-right"
       href="{{paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older posts
        &rarr;</a>
    {% endif %}

</div>

{% endif %}
