---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<div class="masthead"
     style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% if page.backgroundCredit %}
    <div class="background-credit">
        {{ page.backgroundCredit }}
    </div>

    {% endif %}

    {% else %}
    <div class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="page-heading">
                        <h1>{{ site.title }}</h1>
                        {% if site.description %}
                        <span class="subheading white">{{ site.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div>

                {{ content }}

                <!-- Home Post List -->
                {% for post in site.posts limit : 5 %}

                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.titlePicture %}
                        <div class="post-title-preview">
                            <img src="{{ post.titlePicture | prepend: site.baseurl | replace: '//', '/' }}">
                        </div>
                        {% endif %}
                    </a>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                    {% endif %}
                    <p class="post-meta">Posted by
                        {% if post.author %}
                        {{ post.author }}
                        {% else %}
                        {{ site.author }}
                        {% endif %}
                        on
                        {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
                    </p>
                </article>

                <hr>

                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="button button-primary u-pull-right" href="{{"/posts" | relative_url }}">View All Posts
                    &rarr;</a>
                </div>

            </div>

        </div>
    </div>
</div>