---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<div class="masthead"
     {% if page.backgroundCredit %}
     style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')" {% endif %}>
    {% if page.backgroundCredit %}
    <div class="background-credit">
        {{ page.backgroundCredit }}
    </div>
    {% endif %}
    {% else %}
    <div>
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <br/>
                {{ content }}

                <hr>

                <div class="clearfix">

                    {% if page.previous.url %}
                    <a class="button button-primary u-pull-left"
                       href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
                       title="{{ page.previous.title }}">&larr; {{page.previous.title}}<span>
              Post</span></a>
                    {% endif %}
                    {% if page.next.url %}
                    <a class="button button-primary u-pull-right"
                       href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                       data-placement="top" title="{{ page.next.title }}">{{page.next.title}}<span
                            class="d-none d-md-inline"></span> &rarr;</a>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
